<div class="footer">
    <div class="copyright">
        <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Çayırlı FM</a> 2024</p>
        <p>Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
    </div>
</div>