@model List<ResultLast4NewsDto>

<div class="albums">
    <div class="container">
        <h3 class="agile-title">Son Haberler</h3>

        @foreach(var item in Model)
        {
            <div class="col-md-6 w3lsalbums-grid">
                <div class="albums-left">
                    <a href="/Blog/NewsReadAll/@item.NewsID" style="background:url(@item.NewsSubImage)no-repeat center; background-size:cover;" class="wthree-almub">
                    </a>
                </div>
                <div class="albums-right">
                    <h4><a href="/Blog/NewsReadAll/@item.NewsID">@item.NewsTitle</a></h4>
                    <p>@item.NewsSubDescrpition.</p>
                    <a class="w3more" href="/Blog/NewsReadAll/@item.NewsID"><i class="fa fa-mail-forward" aria-hidden="true"></i> Devamını Oku</a>
                </div>
                <div class="clearfix"></div>
            </div>

        }

        <div class="clearfix"></div>
    </div>
</div>