<div class="events">
    <div class="container">
        <h3 class="agile-title">Etkinlikler</h3>
        <div class="events-info">
            <div class="col-md-6 event-grids">
                <div class="w3layouts-text">
                    <h4>10<span>Nov</span></h4>
                    <h6><a href="single.html">Sed ut perspiciatis unde omnis </a></h6>
                    <div class="clearfix"> </div>
                </div>
                <p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
            </div>
            <div class="col-md-6 event-grids">
                <div class="w3layouts-text">
                    <h4>20<span>Dec</span></h4>
                    <h6><a href="single.html">Voluptatem accusantium doloremque </a></h6>
                    <div class="clearfix"> </div>
                </div>
                <p>Kasertas lertyasea deeraeser miasera lertasa ritise doloert ferdas caplicabo nerafaes asety u lasec vaserat. nikertyade asetkertyptaiades goertayse.nikertyade asetkertyptaiades goertayse</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>