<div class="welcome agileits">
    <div class="container">
        <h2 class="agile-title">Çayırlı FM'e Hoşgeldiniz</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra auctor dolor, id egestas felis tristique vel. Donec malesuada, lorem sed vulputate tincidunt, nulla quam pulvinar mi, blandit placerat odio neque quis risus. Nullam ultricies erat non lectus aliquam, eu finibus neque semper. Morbi viverra, neque sit amet pretium blandit, dui mauris lacinia metus, a rhoncus erat ipsum vitae augue. Morbi laoreetvenenatis nulla, et venenatis purus scelerisque id. Vestibulum non facilisis lectus, quis accumsan mi.</p>
        <div class="welcome-agileinfo">
            <div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
                <div class="view view-w3-agile">
                    <img src="images/img1.jpg" alt="" class="img-responsive" />
                    <div class="agileits-w3layouts-mask">
                        <h4>Our New Albums</h4>
                        <p>Nullam ut nibh dapibus elit placerat ullamcorper</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 welcome-grids">
                <div class="view view-w3-agile">
                    <img src="images/img2.jpg" alt="" class="img-responsive" />
                    <div class="agileits-w3layouts-mask">
                        <h4>Letraset sheets</h4>
                        <p>Nullam ut nibh dapibus elit placerat ullamcorper</p>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>