@model About

<div class="col-md-8 about-grids">
    <h4>@Model.AboutTitle </h4>
    <p>@Model.AboutDescription </p>
    <div class="embed-responsive embed-responsive-16by9">
        @Html.Raw(Model.AboutVideoUrl)
    </div>
</div>

@*  Çayırlı FM, müziğin ve sohbetin en doğal haliyle buluştuğu bir radyo istasyonudur. Dinleyicilerine her an eşlik eden Çayırlı FM, yerel kültürü ve evrensel müziği aynı frekansta bir araya getirerek özgün bir deneyim sunar. Müzik listelerimizden canlı yayınlarımıza kadar her detay, dinleyicilerimizin ruhuna dokunmak ve onlara günlük yaşamın içinde bir nefes alanı sağlamak için hazırlanır. Sadece bir radyo değil, aynı zamanda dostane bir ses, samimi bir köprü ve her an kulağınızda size eşlik eden bir yol arkadaşıyız. Çayırlı FM’de her melodi, her kelime ve her ses, hayatın içinden bir parça taşır. *@
