@model List<ResultCategoryEventDto>

<div class="">
    <div id="external-events" class="my-3">
        <p>Birini Seçiniz</p>
        @foreach(var item in Model)
        {
            <div class="external-event" data-class="@item.CategoryColor"><i class="fa fa-move"></i>@item.CategoryName</div>
        }       
    </div>
    <!-- checkbox -->
    <div class="checkbox checkbox-event pt-3 pb-5">
        <input id="drop-remove" class="styled-checkbox" type="checkbox">
        <label class="ml-2 mb-0" for="drop-remove">Taşındıktan Sonra Kaldır</label>
    </div>
    <a href="javascript:void()" data-toggle="modal" data-target="#add-category" class="btn btn-primary btn-event w-100">
        <span class="align-middle"><i class="ti-plus"></i></span> Yeni Oluştur
    </a>
</div>