@model CreateRegisterAppUserDto

@{
    ViewData["Title"] = "AddPersonal";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12 col-xxl-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Yeni Personel Girişi</h4>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form method="post">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Personel Adı</label>
                                    <input type="text" asp-for="Name" class="form-control" placeholder="Personel Adı">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label>Personel Soyadı</label>
                                    <input type="text" asp-for="Surname" class="form-control" placeholder="Personel Soyadı">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label>Kullanıcı Adı</label>
                                    <input type="text" asp-for="UserName" class="form-control" placeholder="Kullanıcı Adı">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label>E-Posta Adresi</label>
                                    <input type="text" asp-for="EMail" class="form-control" placeholder="E-Posta Adresi">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label>Telefon Numarası</label>
                                    <input type="text" asp-for="Phone" class="form-control" placeholder="Telefon Numarası">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label>Departman</label>
                                    <input type="text" asp-for="EmployeeDepartment" class="form-control" placeholder="Departman">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label>Personel Hakkında</label>
                                    <textarea type="text" asp-for="EmployeeAbout" class="form-control" rows="5" placeholder="Personel Hakkında"></textarea>
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Parola</label>
                                    <input type="password" asp-for="PasswordHash" class="form-control" placeholder="Parola">
                                </div>

                                <div class="form-group col-md-6">
                                    <label>Parola Tekrarı</label>
                                    <input type="password" asp-for="ConfirmPasswordHash" class="form-control" placeholder="Parola Tekrarı">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Ekip Durumu</label>
                                    <select id="inputState" asp-for="OurTeam" class="form-control">
                                        <option selected>Seçiniz...</option>
                                        <option value="1">Ekip İçerisinde</option>
                                        <option value="0">Ekip İçerisinde Değil</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label>Durumu</label>
                                    <select id="inputState" asp-for="Status" class="form-control">
                                        <option selected>Seçiniz...</option>
                                        <option value="Çalışıyor">Çalışıyor</option>
                                        <option value="İzinde">İzinde</option>
                                        <option value="Raporlu">Raporlu</option>
                                        <option value="Rahatsız">Rahatsız</option>
                                        <option value="Çıkışı Yapıldı">Çıkışı Yapıldı</option>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Yeni Personel Girişini Yap</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
