
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UserLayout/_UserLayout.cshtml";
}

<!--- albums -->
<div class="albums agile-blog">
	<div class="container">
		<h2 class="agile-title">Bloglarımız</h2>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-w3top">
				<h5>16 Ekim 2024 </h5>
			</div>
			<div class="albums-left">
				<a href="single.html" class="wthree-almub">
				</a>
			</div>
			<div class="albums-right">
				<h4><a href="single.html">Deneme</a></h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href="single.html"><i class="fa fa-mail-forward" aria-hidden="true"></i> Daha Fala</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-w3top">
				<h5>10th November 2016 </h5>
			</div>
			<div class="albums-left">
				<a href="single.html" class="wthree-almub wthree-almub2">
				</a>
			</div>
			<div class="albums-right">
				<h4><a href="single.html">Consequat</a></h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href="single.html"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-w3top">
				<h5>18th November 2016 </h5>
			</div>
			<div class="albums1-right">
				<a href="single.html" class="wthree-almub wthree-almub3">
				</a>
			</div>
			<div class="albums1-left">
				<h4><a href="single.html">Dolores Btrs</a></h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href="single.html"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-w3top">
				<h5>25th November 2016 </h5>
			</div>
			<div class="albums1-right">
				<a href="single.html" class="wthree-almub wthree-almub4">
				</a>
			</div>
			<div class="albums1-left">
				<h4><a href="single.html">Nam aliquam</a></h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href="single.html"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-w3top">
				<h5>4th November 2016 </h5>
			</div>
			<div class="albums-left">
				<a href="single.html" class="wthree-almub">
				</a>
			</div>
			<div class="albums-right">
				<h4><a href="single.html">Dolor Sit</a></h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href="single.html"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 w3lsalbums-grid">
			<div class="albums-w3top">
				<h5>10th November 2016 </h5>
			</div>
			<div class="albums-left">
				<a href="single.html" class="wthree-almub wthree-almub2">
				</a>
			</div>
			<div class="albums-right">
				<h4><a href="single.html">Consequat</a></h4>
				<p>Nsatolernatur auts oditaut miertase vertas.Measnseqe ustur magni dolores eoqus ratione voluptate.</p>
				<a class="w3more" href="single.html"><i class="fa fa-mail-forward" aria-hidden="true"></i> More</a>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>
		<nav>
			<ul class="pagination w3-agileits-paging">
				<li class="disabled">
					<a href="#" aria-label="Previous">
						<span aria-hidden="true">«</span>
					</a>
				</li>
				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li>
					<a href="#" aria-label="Next">
						<span aria-hidden="true">»</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
<!--- //albums -->
