@model About
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-xl-12 col-xxl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Yeni Hakkımda Yazısı Ekle</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <form method="post">

                        <input type="hidden" asp-for="AboutID" />

                        <div class="form-group">
                            <input type="text" asp-for="AboutTitle" class="form-control input-rounded " placeholder="Hakkımda Başlığı">
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="AboutVideoUrl" class="form-control input-rounded " placeholder="Video Kayıt Linki">
                        </div>
                        <div class="form-group">
                            <textarea asp-for="AboutDescription" class="form-control" rows="4" id="comment" placeholder="Hakkımda Açıklaması"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-outline-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

