@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("HeadPartial.cshtml")
<body>
    <!-- banner start here -->
    <div class="agileinfo-main about-top">  
        <div class="banner"> 
        </div> 

        @await Html.PartialAsync("HeaderPartial.cshtml")

        <!-- navigation start here -->
        @await Html.PartialAsync("NavbarPartial.cshtml")
    </div>
    <!-- navigation end here -->
@RenderBody()
    <!-- footer start here -->
    @await Html.PartialAsync("FooterPartial.cshtml")
    @await Html.PartialAsync("ScriptPartial.cshtml")
</body>
</html>

@RenderSection("Scripts", false)
