@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("HeadPartial.cshtml")
<body>
    <!-- banner start here -->
    <div class="agileinfo-main about-top">  
        <div class="banner"> 
        </div> 

        @await Component.InvokeAsync("_HeaderComponentPartial")

        <!-- navigation start here -->
        @await Html.PartialAsync("NavbarPartial.cshtml")
    </div>
    <!-- navigation end here -->
@RenderBody()
    <!-- footer start here -->
    @await Component.InvokeAsync("_FooterComponentPartial")
    @await Html.PartialAsync("ScriptPartial.cshtml")
</body>
</html>

@RenderSection("Scripts", false)
