<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
             <li><a href="/Admin/AdminDashboard/Index"><span class="nav-text">Oynatıcı</span></a></li> 
             <li><a href="/Admin/AdminCategory/Index"><span class="nav-text">Kategori</span></a></li> 
             <li><a href="/Admin/AdminNews/Index"><span class="nav-text">Haberler</span></a></li> 
             <li><a href="/Admin/AdminEvent/Index"><span class="nav-text">Etkinlikler</span></a></li> 
             <li><a href="/Admin/AdminWelcomeToOurSite/Index"><span class="nav-text">Sitemize Hoşgeldiniz</span></a></li> 
             <li><a href="/Admin/AdminAddress/Index"><span class="nav-text">Adres</span></a></li> 
             <li><a href="/Admin/AdminAbout/Index"><span class="nav-text">Hakkımızda</span></a></li> 
             <li><a href="/Admin/AdminContact/Index"><span class="nav-text">İletişim</span></a></li> 
             <li><a href="/Admin/AdminStrategy/Index"><span class="nav-text">Stratejilerimiz</span></a></li> 
             <li><a href="/Admin/AdminSocialMediaAccount/Index"><span class="nav-text">Sosyal Medya</span></a></li> 
             <li><a href="/Admin/AdminPersonelProcess/AddPersonel"><span class="nav-text">Personel İşlemleri</span></a></li> 
        </ul>
    </div>
</div>