
<div class="intro-title d-flex justify-content-between">
    <h5>Kategoriler</h5>
    <i class="icon-arrow-down" aria-hidden="true"></i>
</div>
<div class="mail-list mt-4">
    <a href="email-inbox.html" class="list-group-item">
        <span class="icon-warning">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </span>
        İş
    </a>
    <a href="email-inbox.html" class="list-group-item">
        <span class="icon-primary">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </span>
        Özel
    </a>
    <a href="email-inbox.html" class="list-group-item">
        <span class="icon-success">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </span>
        Destek
    </a>
    <a href="email-inbox.html" class="list-group-item">
        <span class="icon-dpink">
            <i class="fa fa-circle" aria-hidden="true"></i>
        </span>
        Sosyal Medya
    </a>
</div>