    <div class="p-0">
        <a href="email-compose.html" class="btn btn-primary btn-block">Oluştur</a>
    </div>
    <div class="mail-list mt-4">
        <a href="email-inbox.html" class="list-group-item active">
            <i class="fa fa-inbox font-18 align-middle mr-2"></i> Birincil <span class="badge badge-primary badge-sm float-right">198</span>
        </a>
        <a href="javascript:void()" class="list-group-item">
            <i class="fa fa-paper-plane font-18 align-middle mr-2"></i>Gönderilen
        </a> <a href="javascript:void()" class="list-group-item">
            <i class="fa fa-star font-18 align-middle mr-2"></i>Önemli <span class="badge badge-danger text-white badge-sm float-right">47</span>
        </a>
        <a href="javascript:void()" class="list-group-item">
            <i class="mdi mdi-file-document-box font-18 align-middle mr-2"></i>Taslak
        </a><a href="javascript:void()" class="list-group-item">
            <i class="fa fa-trash font-18 align-middle mr-2"></i>Çöp Kutusu
        </a>
    </div>

