
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UserLayout/_UserLayout.cshtml";
}

@model Contact

<!-- contact -->
<div class="contact">
	<div class="container">
		<h2 class="agile-title">İletişim</h2>
		<div class="col-md-7 contact-right">
			<form method="post">
				<input type="text" asp-for="ContactName" placeholder="Ad" required="">
				<input type="text" asp-for="ContactSurname" placeholder="Soyad" required="">
				<input type="text" asp-for="ContactSubject" placeholder="Konu" required="">
				<center>
                    <input type="email" asp-for="EMail" placeholder="E-Posta" required="">
                    <input type="text" asp-for="Phone" placeholder="Telefon" required="">
				</center>				
				<textarea asp-for="ContactMessage" placeholder="Mesajınız..." required=""></textarea>
				<input type="submit" value="Gönder">
			</form>
		</div>
		@await Component.InvokeAsync("_ContactLeftAndMap")

	</div>
</div>
<!-- //contact -->
