
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        @await Component.InvokeAsync("_HeaderPartial")
        <!--**********************************
           Header end ti-comment-alt
        ***********************************-->
   
        <!--**********************************
            Sidebar start
        ***********************************-->
        @await Component.InvokeAsync("_SideBarPartial")
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        @RenderBody()
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        @await Component.InvokeAsync("_FooterPartial") 
        <!--**********************************
            Footer end
        ***********************************-->
        <!--**********************************
           Support ticket button start
        ***********************************-->
        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    @await Component.InvokeAsync("_ScriptPartial")
   

</body>

</html>
@RenderSection("Scripts", false)